/* body * {border: 1px solid red;} */
/* body * {border: 1px solid red;} */
body {
    /* background-color: #000; */
    color: #fff;
    text-align: center;
    /* margin-top: 200px; */
    width: 90%;
    margin-left: 5%;
}

.navigation {
    text-align: left;
    display: block;
}

h1 {
    text-align: left;
    display: block;
    font-size: 38.5px;
    color: #f35b1c;
    font-weight: 400;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.left-pane {
    float: left;
    min-height: 400px;
    max-height: calc(100vh - 205px);
    width: 30%;
    text-align: left;
    border: 1px solid #dbd8bc;
    background-color: #f8f8eb;
    border-radius: 3px;
    font-size: 15px;
    margin-bottom: 7px;
    overflow-y: scroll;
}

.left-pane a {
    display: block;
    border: 1px solid transparent;
    text-decoration: none;
    color: #512b2b;
    padding: 5px 10px 5px 10px;
    transition: background-color .1s ease-out;
}

.left-pane a:hover {
    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid #dbd8bc;
}

.active-left-nav {
    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid #dbd8bc;
}

.right-pane {
    text-align: left;
    min-height: 380px;
    max-height: calc(100vh - 230px);
    overflow-y: scroll;
    float: right;
    width: 62%;
    border: 1px solid #bcd8db;
    background-color: #EBF8F2;
    border-radius: 3px;
    font-size: 15px;
    padding: 13px 10px 13px 10px;
    margin-bottom: 7px;
}

.animation {
    animation-name: light;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes light {
    0% {

    }

    100% {
        background-color: #fff;
        color: #000;
    }
}

button {
    /* float: left; */
    margin-top: 12px;
    margin-bottom: 3px;
    height: 45px;
    font: 15px/1 Helvetica, Arial, sans-serif;
    color: #512b2b;
    background-color: #ebe7e2;
    border: 1px solid #fff;
    /* margin: 0; */
    /* float: left; */
    padding: 1px 40px;
    transition: background-color .3s ease-out;
}

button:hover {
    background-color: #fdc129;
}

.active-top-nav {
    background-color: #fdc129;
}

.row {
    display: block;
    margin: 20px 0;
    /* width: 600px; */
}

.content {

}

.hide {
    display: none;
}